
name: master

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: jdk
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          mvn -s settings.xml deploy

      - name: Deploy
        env:
          HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY}}
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh
          heroku plugins:install @heroku-cli/plugin-java
          heroku buildpacks:clear --app wutsi-test-like-service
          heroku deploy:jar target/-.jar --app ${HEROKU_APP}

      - name: Healthcheck
        run: |
          sleep 90
          curl -sSf https://wutsi-test-like-service.herokuapp.com/actuator/health >> /dev/null
